@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/normalize.scss/normalize";

@import "global/mixins";
@import "global/fonts";
@import "global/sprite";
@import "global/icons";
@import "global/vars";
@import "global/base";
@import "global/common";
@import "global/button";

@import "sections/title";
@import "sections/header";
@import "sections/nav";
@import "sections/hero";
@import "sections/about.scss";
@import "sections/approach.scss";
@import "sections/work.scss";
@import "sections/form.scss";
@import "sections/footer.scss";
